@inherits LayoutComponentBase

<div class="screen">
    <nav class="navbar">
        <div class="container-fluid">
            <NavLink class="navbar-brand navbar-title" href="/">Receptly</NavLink>
            <SearchForm />
        </div>
    </nav>

    @Body
</div>
